<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="personnummer" value="" [formControl]="personNumberControl">
  </mat-form-field>
  <mat-error *ngIf="invalidLength">
    Person number must be 10 characters long
  </mat-error>
  <mat-error *ngIf="nonNumeric">
    Only numerical characters must be entered
  </mat-error>
  <mat-error *ngIf="invalidDate">
    Invalid date entered
  </mat-error>
  <mat-error *ngIf="invalidChecksum">
    Invalid checksum entered
  </mat-error>
</form>