<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form [formGroup]="exampleForm">
  <app-person-number formControlName="personNumberControl"></app-person-number>
  <p>Delivered person number is {{exampleForm.get('personNumberControl').value}}</p>
  <mat-radio-group class="example-radio-group" formControlName="favoriteSeason">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">Your favorite season is: {{exampleForm.get('favoriteSeason').value}}</div>
</form>